body {
    display: grid;
    place-items: center;
    background: url('../images/image1.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.9rem;
}

.btn {
    font-size: 20px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.4rem;
    }

    p {
        font-size: .8rem;
    }

    .btn {
        font-size: 10px;
    }
}