body {
    /* background-color: #f1f2f6; */
    --text-color: #000;
    --bg-color: #eee;
    --text-box: #f1f2f6;
    --swth-text-color: #fff;
    --swth-bg-color: #333;
    --swth-hover-color: #555;
}

body.dark-mode {
    --text-color: #eee;
    --bg-color: #333;
    --text-box: #3a3b3d;
    --swth-text-color: #333;
    --swth-bg-color: #fff;
    --swth-hover-color: #bbb;
}

section {
    height: 100vh;
    background-color: var(--bg-color);
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.title {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.nes-container {
    width: 85%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Introduction and greeting styling */
.me {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name,
.description {
    width: 30%;
}


/* Projects styling */
.projects-all {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.project {
    margin: 15px;
}

.project .project-title {
    text-decoration-line: underline;
}


/* Contact section styling */


.nes-field {
    margin: 30px 0;
}

.nes-textarea,
.nes-input {
    resize: none;
    outline: none;
    background-color: var(--text-box);
    color: var(--text-color);
}

/* auxiliary buttons styling */

.pages-btns {
    position: fixed;
    bottom: 0;
    right: 10px;
    /* background-color: red; */
    width: 520px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.switch-theme-btn {
    background-color: var(--swth-bg-color);
    color: var(--swth-text-color) !important;
}

.switch-theme-btn:hover {
    background-color: var(--swth-hover-color);
}


@media (max-width: 960px) {
    .nes-container {
        max-height: 85%;
        font-size: .5rem;
    }

    .pages-btns {
        width: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .nes-btn {
        font-size: .4rem;
    }

}


@media (max-width: 500px) {
    .nes-container {
        max-height: 90%;
    }

    .name {
        width: 50%;
    }

    .description {
        width: 40%;
        text-align: center;
    }

    .title {
        font-size: .55rem !important;
    }

    .project {
        width: 100%;
        margin: 3% 0;
    }
}

@media (max-width: 460px) {
    .me {
        flex-direction: column;
        text-align: center;
    }

    .description {
        width: 100%;
    }
}